@import 'src/assets/vars';

.playlists {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: lighter;
  color: #6b6f72;

  .title {
    color: #565656;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .playlists-items {
    list-style: circle;
    padding-left: 20px;

    li {
      padding-top: .6rem;
      padding-bottom: .6rem;
      padding-left: .4rem;
      transition: .15s all;
      cursor: pointer;

      &:hover {
        color: $color-accent;
        cursor: pointer;
      }
    }
  }
}
