.album-header {
  position: relative;
  background: #666767;
  height: 45vh;
  border-radius: 10px;
  color: white;

  .cover {
    width: 200px;
    height: auto;
    border-radius: 10px;

    position: absolute;
    left: 120px;
    top: 10vh;
  }

  .texts {
    top: 18vh;
    position: absolute;
    left: 350px;

    .author {
      font-size: 3rem;
      font-weight: bolder;
    }

    .title {
      font-size: 2rem;
    }
  }


}
